.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grid styles for responsiveness */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas */
  grid-gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.card {
  text-align: center;
  padding: 10px;

  border-radius: 8px;
}

/* Responsive design adjustments */

/* Para pantallas más pequeñas, reducimos el número de columnas en la grid */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr; /* 1 columna */
  }
  .App-header {
    font-size: calc(12px + 3vmin); /* Ajustar tamaño de fuente */
  }
  .App-body {
    font-size: calc(12px + 3vmin); /* Ajustar tamaño de fuente */
  }
  .App-logo {
    height: 30vmin; /* Ajustar el tamaño del logo en pantallas pequeñas */
  }
  .grid-item {
    padding: 10px; /* Reducir padding en dispositivos pequeños */
  }
}
